<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main class="bg-blur">
  <section>
    <h1>Create a new account!</h1>
    <form class="auth" action="/auth/sign-up" method="POST">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" required/>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required/>
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" name="confirmPassword" id="confirmPassword" required/>
      <button type="submit">Sign up</button>
    </form>
    <% if (userInDatabase) { %>
      <h2><em>Username</em> already taken. Please enter a different <em>Username</em>!</h2>
    <% } %>
    <% if (passwordMismatch) { %>
      <h2><em>Password</em> and <em>Confirm Password</em> must match!</h2>
    <% } %>
  </section>
</main>
<%- include('../partials/footer') %>